html,
body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #000;
    color: #fff;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

section{
    padding: 100px 0;
}

.quick-card-top{
    background: #1B1B1B;
    width: 100% !important;
    padding: 1em;
}