@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background: #000 !important;
}

section {
    padding: 100px 0 50px 0;
}

.section-heading {
    font-family: Lexend Exa;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 33.84px;
    /* 141% */
}

.section-para {
    width: 50%;
    margin: 0 auto;
}


.container {
    max-width: 80% !important;
    margin: 0 auto;
}

/* Hero Section */

.hero-main-head {
    color: #FFF;
    font-family: Lexend Exa;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56.4px;
    /* 141% */
}

.highlight {
    color: #562FFF
}

.hero-para {
    color: #9A9A9A;
    font-family: Lexend Exa;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.56px;
    /* 141% */
}

/* Quick Section */

.quick-card {
    background: #1B1B1B;
    padding: 1em;
    border-radius: 16px;
}

.quick-card-head {
    color: #FFF;
    font-family: Lexend Exa;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25.38px;
    /* 141% */
}

.quick-card-link {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.4px;
    /* 160% */
}

/* QA Section */

.qa-para {
    color: #9A9A9A;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.4px;
    /* 160% */
}

/* Tokenomics Section */

.tokenomics-section {
    background: #fff;
    color: #000;
}

.stat-main {
    color: #000;
    text-align: center;
    font-family: Roboto Mono;
    font-size: 57px;
    font-style: normal;
    font-weight: 500;
    line-height: 80.37px;
    /* 141% */
}

.stat-desc {
    color: #9A9A9A;
    text-align: center;
    font-family: Lexend Exa;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.56px;
    /* 141% */
}


/* Dataset Section */

.dataset-section {
    background: #fff;
}

.dataset-main-head {
    color: #000;
    font-family: Lexend Exa;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45.12px;
    /* 141% */
}

.dataset-para {
    color: #9A9A9A;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px;
    /* 160% */
}

/* Developer Section */

.developer-section {
    background: #1D1D1D !important;
}

.developer-para {
    color: #9A9A9A;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.4px;
    /* 160% */
}

.developer-item{
    padding: 2em 0;
    color: #fff;
    border-bottom: 1px solid #9A9A9A;
}

.developer-item:nth-of-type(4){
    border-bottom: none;
}

.developer-title{
    color: #FFF;
font-family: Lexend Exa;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 22.56px; /* 141% */
}

/* About Section */

.about-head{
    color: #FFF;
font-family: Lexend Exa;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 45.12px; /* 141% */
}

.about-para{
    color: #9A9A9A;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 22.4px; /* 160% */
}

.about-link{
    color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 22.4px; /* 160% */
}